// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!
// Settings


// Body Styles
body,
html,
.body {
  background: $body-background !important;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
.container.header {
  background: $white;
}

.container.transparent {
  background: transparent;
}

.container.bordered {
  border: 1px solid $border-color;
  border-collapse: separate;
  box-shadow: $box-shadow-small;
}

.container.rounded {
  border-radius: $global-rounded;
}

.idea-card {
  h6 { font-weight: 500; padding-right: 20px; }
  .status { font-weight: 500; }
  .body-text { color: $dark-gray; }
  .votes {
    padding-right: 16px !important;
    padding-left: 24px !important;
  }
  td.large-10.last, th.large-10.last {
    padding-right: 24px;
  }
}

.stats {
  td.large-3.first, th.large-3.first { padding-left: 0; }
  td.large-3.last,th.large-3.last { padding-right: 0; }

  p {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.3;
    margin-right: 14px;
    Margin-right: 14px; 
  }

  h6 { font-size: 14px; color: $dark-gray; }

  .plus {
    font-size: 24px;
    vertical-align: top;
    color: $success-color;
    Margin-right: 4px;
    margin-right: 4px;
  }
}

.underscore-link {
  text-decoration: underline;
  color: darken($muted-gray, 20%);
}

p {
  line-height: 1.6;
}

.body-drip {
  border-top: 8px solid #663399;
}

.votes-number {
  font-size: 24px;
}

.warning-color {
  color: $warning-color;
}

.success-color {
  color: $success-color;
}

.error-color {
  color: $error-color;
}

// Full Width Headers
.header {
  background: $white;
  border-bottom: 1px solid $border-color;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: $white;
}
