// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: $body-background !important;
  line-height: inherit;
}

.container.header {
  background: $white;
}

.container.transparent {
  background: transparent;
}

.container.bordered {
  border: 1px solid $border-color;
  border-collapse: separate;
  box-shadow: $box-shadow-small;
}

.container.rounded {
  border-radius: $global-rounded;
}

hr { border-color: $border-color; }

.stats {
  p { font-size: 40px; }

  h6 { font-size: 14px; font-weight: 500; }

  .plus {
    font-size: 24px;
    vertical-align: top;
    color: $success-color;
    Margin-right: 4px;
    margin-right: 4px;
  }
}

.body-drip {
  border-top: 8px solid #663399;
}

.votes-number {
  font-size: 24px;
}

// Full Width Headers
.header {
  background: $white;
  border-bottom: 1px solid $border-color;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: $white;
}
